{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react",
    "prettier",
    "html"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ]
  },
  "extends": ["airbnb-base", "eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended"]
}